OWM_KEY = "000000000000000000"  # your OpenWeather API key

# Your latitude/longitude - https://www.openstreetmap.org/
# view on https://www.openstreetmap.org/#map=10/{{ latitude }}/{{ longitude }}
# e.g., https://www.openstreetmap.org/#map=10/52.196136/21.007963
OWM_LAT = 52.196136
OWM_LON = 21.007963
