# Your OpenWeather API key
OWM_KEY = "000000000000000000"  

# Your latitude/longitude - https://www.openstreetmap.org/
# view on https://www.openstreetmap.org/#map=10/{{ latitude }}/{{ longitude }}
# e.g., https://www.openstreetmap.org/#map=10/52.196136/21.007963
OWM_LAT = 52.196136
OWM_LON = 21.007963

# Temperature units
# 0 - Celsius
# 1 - Fahrenheit
TEMPUNITS_MODE = 0


# High and low pressure values in hPa for smoke visualization
PRESSURE_MIN = 980
PRESSURE_MAX = 1030